/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    max-width: 1280px;
    background-color: #3161e0;
}
#hero-img {
    width: 100%;
    display: block;
    position: relative;
}
header .header-container {
    max-width: 80%;
    margin: auto;
}
/*header's bar nav content*/
header .nav-container {
    width: 100%;
    background-color: #3161e0;
    padding: 10px 0;
}
.nav-container nav, .nav-container nav ul li {
    display: inline-block;
}
.nav-container ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    margin: 0 10px;

}
.nav-container ul li, .col-btn button {
    vertical-align: sub;
}
/*coloumns*/
.col {
    width: 20%;
    float: left;
}
.col-nav {
    width: 60%;
    text-align: center;
}
.col-btn {
    text-align: right;
}
/*fix float*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.nav-container nav ul li, .btn-nav {
    font-size: 12px;
    text-transform: capitalize;
}
/*buttons*/
button {
    border-radius: 20px;
    padding: 10px 15px;
    border-style: none;
    margin: 0 10px;
}
.btn-nav {
    padding: 5px 10px;
}
.btn-header {
    background-color: #fff;
}
.btn-open {
    color: #fff;
    background-color: #000;
}
i {
    padding-right: 5px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.title p {
    padding: 30px;
}
/*MAIN*/
main {
    max-width: 1280px;
}
.main-container {
    width: 80%;
    margin: auto;
}
#blue-frog {
    width: 400px;
}
.col-img, .col-text {
    float: left;
    
}
.col-img {
    width: calc(60% - 40px);
    margin: 20px;
    text-align: center;
}
.col-text {
    width: 20%;
    margin: 10px;
    padding-top: 30px;
}
.lightgray-bg {
    background-color: lightgray;
}
#alchemist {
    max-width: 400px;
}
section.lightgray-bg .col-text, section.lightgray-bg .col-img {
    float: right;
}